Actividad 6

In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv('ranking_uni.csv')
df.head()

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968

In [5]:
df.columns

Index(['university', 'year', 'rank_display', 'score', 'link', 'country',
       'city', 'region', 'logo', 'type', 'research_output',
       'student_faculty_ratio', 'international_students', 'size',
       'faculty_count'],
      dtype='object')

In [6]:
x = df.columns.tolist()
x.sort()
x

['city',
 'country',
 'faculty_count',
 'international_students',
 'link',
 'logo',
 'rank_display',
 'region',
 'research_output',
 'score',
 'size',
 'student_faculty_ratio',
 'type',
 'university',
 'year']

In [7]:
df.head()

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968

In [8]:
pd.pivot_table(df,
               index = ['university'],
               #aggfunc = ['median']
               values = ['score'],
               margins = True,
               columns = 'year'
              )

                                      score                                   \
year                                   2017       2018       2019       2020
university
 University of Dundee             41.600000  40.100000  36.100000  34.300000
 Western Sydney University              NaN        NaN  23.600000  25.100000
Aalborg University                31.500000  32.200000  31.600000  33.000000
Aalto University                  57.100000  56.000000  50.800000  52.400000
Aarhus University                 59.500000  59.300000  50.700000  51.000000
...                                     ...        ...        ...        ...
Yonsei University                 60.500000  62.300000  58.900000  58.700000
York University                         NaN        NaN  24.400000        NaN
Zhejiang University               61.600000  65.900000  67.500000  72.400000
École Normale Supérieure de Lyon  49.600000  52.800000  49.200000  48.300000
All                               51.650743  52.112655  44.377426  44.618563


year                                   2021       2022        All
university
 University of Dundee             32.900000  32.900000  36.316667
 Western Sydney University        25.000000  24.100000  24.450000
Aalborg University                34.000000  32.800000  32.516667
Aalto University                  53.600000  57.000000  54.483333
Aarhus University                 51.000000  50.200000  53.616667
...                                     ...        ...        ...
Yonsei University                 62.500000  65.500000  61.400000
York University                         NaN  24.100000  24.250000
Zhejiang University               71.900000  77.400000  69.450000
École Normale Supérieure de Lyon  48.100000  54.600000  50.433333
All                               44.146838  44.767066  46.595532

[565 rows x 7 columns]

In [9]:
pd.pivot_table(df,
               index = ['region'],
               values = ['score'],
               aggfunc = 'mean',
               columns = 'year'
              )

                   score                                              \
year                2017       2018       2019       2020       2021
region
Africa         35.825000  36.425000  31.975000  31.950000  29.440000
Asia           50.890476  51.182759  41.727419  42.514754  42.624000
Europe         50.208840  50.426111  43.892991  44.006542  43.373853
Latin America  44.507143  45.450000  38.027778  36.557143  36.433333
North America  57.508602  58.348889  49.520536  50.228302  49.898058
Oceania        49.628571  51.371429  44.987879  45.000000  44.205882


year                2022
region
Africa         28.960000
Asia           43.670400
Europe         43.616981
Latin America  36.895238
North America  50.496154
Oceania        45.632353

In [10]:
pd.pivot_table(df,
               index = ['size'],
               values = ['score'],
               aggfunc = 'mean',
               
              )

          score
size
L     47.226451
M     40.820769
S     44.386928
XL    49.753435

In [11]:
pd.pivot_table(df,
               index = ['size'],
               values = ['score'],
               aggfunc = 'mean',
               columns = ['type']
              )

          score
type    Private     Public
size
L     56.578365  45.539376
M     44.328671  39.490186
S     48.323636  42.177551
XL    54.286667  49.573545

In [12]:
pd.pivot_table(df,
               index = ['size'],
               values = ['score'],
               aggfunc = 'mean',
               columns = ['type','region']
              )

            score                                                            \
type      Private
region     Africa       Asia     Europe Latin America North America Oceania
size
L             NaN  44.906000  58.300000     36.788889     65.736667     NaN
M       28.666667  28.714286  46.825000     28.291667     54.623077     NaN
S             NaN  47.675000  57.333333     27.972727     62.523077    26.3
XL            NaN  44.808333        NaN     47.816667     67.000000     NaN


type    Public
region  Africa       Asia     Europe Latin America North America    Oceania
size
L       33.235  51.520705  46.244878     33.961538     37.672727  45.436275
M          NaN  41.078767  39.352174           NaN     25.466667  31.809524
S          NaN  35.716279  44.839535           NaN           NaN  55.791667
XL         NaN  44.273944  47.783228     47.065000     55.284951  54.228846

In [13]:
#TOP 5 UNIVESIDADES POR ANO

In [14]:
df.loc[df['year']==2022]

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
5182,Massachusetts Institute of Technology (MIT),2022,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
5183,University of Oxford,2022,2,99.5,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,3.0,"8,442",L,"6,708"
5184,Stanford University,2022,3,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
5185,University of Cambridge,2022,3,98.7,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
5186,Harvard University,2022,5,98.0,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6477,Université de Tunis,2022,1201,NaN,https://www.topuniversities.com/universities/u...,Tunisia,Tunis,Africa,https://www.topuniversities.com/sites/default/...,Public,High,17.0,57,L,"1,174"
6478,Université de Tunis El Manar,2022,1201,NaN,https://www.topuniversities.com/universities/u...,Tunisia,Tunis,Africa,https://www.topuniversities.com/sites/default/...,Public,Very High,8.0,585,L,"3,504"
6479,Yarmouk University,2022,1201,NaN,https://www.topuniversities.com/universities/y...,Jordan,Irbid,Asia,https://www.topuniversities.com/sites/default/...,Public,Medium,31.0,"2,826",XL,"1,113"
6480,Yildiz Technical University,2022,1201,NaN,https://www.topuniversities.com/universities/y...,Turkey,Istanbul,Asia,https://www.topuniversities.com/sites/default/...,Public,High,20.0,"2,394",XL,"1,688"
6481,Zagazig University,2022,1201,NaN,https://www.topuniversities.com/universities/z...,Egypt,Zagazig,Africa,https://www.topuniversities.com/sites/default/...,Public,High,26.0,"2,300",XL,"5,871"

In [15]:
df.loc[df['year']==2021]

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
3997,Massachusetts Institute of Technology (MIT),2021,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
3998,Stanford University,2021,2,98.4,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
3999,Harvard University,2021,3,97.9,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
4000,California Institute of Technology (Caltech),2021,4,97.0,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
4001,University of Oxford,2021,5,96.7,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,3.0,"8,442",L,"6,708"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5177,Weizmann Institute of Science,2021,NaN,NaN,https://www.topuniversities.com/universities/w...,Israel,Rehovot,Asia,https://www.topuniversities.com/sites/default/...,Public,Very High,NaN,NaN,S,NaN
5178,Universitatea de Vest din Timisoara / West Un...,2021,1001,NaN,https://www.topuniversities.com/universities/u...,Romania,Timișoara,Europe,https://www.topuniversities.com/sites/default/...,Public,High,21.0,799,L,707
5179,WHU - Otto Beisheim School of Management,2021,NaN,69.6,https://www.topuniversities.com/universities/w...,Germany,Vallendar,Europe,https://www.topuniversities.com/sites/default/...,Private,Very High,NaN,NaN,S,NaN
5180,Yarmouk University,2021,1001,NaN,https://www.topuniversities.com/universities/y...,Jordan,Irbid,Asia,https://www.topuniversities.com/sites/default/...,Public,Medium,31.0,"2,826",XL,"1,113"
5181,Yildiz Technical University,2021,1001,NaN,https://www.topuniversities.com/universities/y...,Turkey,Istanbul,Asia,https://www.topuniversities.com/sites/default/...,Public,High,20.0,"2,394",XL,"1,688"

In [16]:
df.loc[df['year']==2020]

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
2928,Massachusetts Institute of Technology (MIT),2020,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
2929,Stanford University,2020,2,98.4,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2930,Harvard University,2020,3,97.4,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
2931,University of Oxford,2020,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,3.0,"8,442",L,"6,708"
2932,California Institute of Technology (Caltech),2020,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992,University of the Sunshine Coast,2020,1001,NaN,https://www.topuniversities.com/universities/u...,Australia,Sunshine Coast,Oceania,https://www.topuniversities.com/sites/default/...,Public,High,32.0,"3,089",L,540
3993,University POLITEHNICA of Bucharest,2020,1001,NaN,https://www.topuniversities.com/universities/u...,Romania,Bucharest,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,24.0,922,L,"1,251"
3994,Weizmann Institute of Science,2020,1001,NaN,https://www.topuniversities.com/universities/w...,Israel,Rehovot,Asia,https://www.topuniversities.com/sites/default/...,Public,Very High,NaN,NaN,S,NaN
3995,Universitatea de Vest din Timisoara / West Un...,2020,1001,NaN,https://www.topuniversities.com/universities/u...,Romania,Timișoara,Europe,https://www.topuniversities.com/sites/default/...,Public,High,21.0,799,L,707
3996,WHU - Otto Beisheim School of Management,2020,1001,69.6,https://www.topuniversities.com/universities/w...,Germany,Vallendar,Europe,https://www.topuniversities.com/sites/default/...,Private,Very High,NaN,NaN,S,NaN

In [17]:
df.loc[df['year']==2019]

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
1910,Massachusetts Institute of Technology (MIT),2019,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1911,Stanford University,2019,2,98.6,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
1912,Harvard University,2019,3,98.5,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
1913,California Institute of Technology (Caltech),2019,4,97.2,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
1914,University of Oxford,2019,5,96.8,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,3.0,"8,442",L,"6,708"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,Université de Technologie de Compiègne (UTC),2019,NaN,NaN,https://www.topuniversities.com/universities/u...,France,Compiègne,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,NaN,NaN,S,NaN
2924,"University of California, San Francisco",2019,NaN,NaN,https://www.topuniversities.com/universities/u...,United States,San Francisco,North America,https://www.topuniversities.com/sites/default/...,Public,Very High,1.0,125,S,"4,482"
2925,Prague University of Economics and Business,2019,NaN,NaN,https://www.topuniversities.com/universities/p...,Czech Republic,Prague,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,27.0,"3,322",L,468
2926,Weizmann Institute of Science,2019,NaN,NaN,https://www.topuniversities.com/universities/w...,Israel,Rehovot,Asia,https://www.topuniversities.com/sites/default/...,Public,Very High,NaN,NaN,S,NaN
2927,WHU - Otto Beisheim School of Management,2019,NaN,69.6,https://www.topuniversities.com/universities/w...,Germany,Vallendar,Europe,https://www.topuniversities.com/sites/default/...,Private,Very High,NaN,NaN,S,NaN

In [18]:
import matplotlib as mpl
import matplotlib.pyplot as plt